 <ion-content class="background">
    <body>
            
      <img class="cloud" src="assets/cloud1.jpeg">
      <img class="cloud" src="assets/cloud1.jpeg">
      <img class="cloud" src="assets/cloud1.jpeg">
      <img class="cloud" src="assets/cloud1.jpeg">
      <div class="container">
        <h1>LOGIN</h1>
        <div><input type="text" placeholder="NPM"></div>
        <div><input type="Email" placeholder="Email"></div>
        <button [routerLink]="['/tabs/tab1']" type=" submit ">Login</button>
      </div>
   </body>  
  </ion-content>